/*
  Said Sheck
  Jan 7th 2021
  CSE 154 Section AA Max Bi

  The folloiwng file provides the styling for both the resume and about page.
  Providing a consistent theme to both pages which includes a light blue background
  and grey text sections
*/
body {
  background-color: #4158d0de;
  color: #ececec;
  font-family: 'Baloo Da 2', cursive;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

body,
body > section,
#courses-and-prefences,
#photos-container,
#courses-and-prefences > section,
#title-links,
#title-links > ul,
main,
#introduction,
#projects,
.project-card,
#project-container,
#academics-skills-container,
#academics,
#academics > section {
  display: flex;
}

body,
body > section,
#courses-and-prefences > section,
main,
#projects,
.project-card,
#academics,
#introduction {
  flex-direction: column;
}

body > section,
#courses-and-prefences,
#courses-and-prefences > section,
main,
#projects,
.project-card,
#project-container,
#academics,
#academics > section {
  justify-content: space-evenly;
}

body > section, nav, .project-card {
  border-radius: 05px;
  padding-left: 1em;
  color: black;
}

body > section {
  margin-top: 10px;
}

body > section, .project-card {
  background-color: #ececec;
}

#title-links {
  justify-content: space-between;
}

#title-links li {
  list-style-type: none;
}

#title-links > h1 {
  font-size: 2em;
  padding-left: 2em;
}

nav > p {
  font-size: 1em;
}

.fa, .image-unit, nav > p, #introduction > article h2 {
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 1em;
  height: 1em;
  text-decoration: none;
  margin-top: 0.5em;
  margin-right: 10px;
  border-radius: 30%;
}

nav, .fa:hover, .project-card:hover {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav, .fa-github, #introduction > article h2 {
  background: #E1E2E2;
}

.fa-github {
  color: black;
  background: #E1E2E2;
}

.fa-linkedin {
  background: #125688;
  color: white;
}

.fa-resume {
  background-color: #7251B5;
  color: #FFFFFF;
}

#photos-container {
  justify-content: inherit;
}

.image-unit {
  height: 20em;
  width: 22em;
}

img {
  height: 180px;
  width: 300px;
}